@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter bg-color-bg;
}
button,
a {
  @apply cursor-pointer transition-colors;
}

/**
  |============================
  | bg-img styles
  |============================
*/
.bg-image {
  background-size: 331px 312px;
  background-image: url("assets/images/hero/hero_img@mobile1x.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bg-image {
    background-image: url("assets/images/hero/hero_img@mobile2x.png");
  }
}

@media (min-width: 768px) {
  .bg-image {
    background-size: 704px 508px;
    background-image: url("assets/images/hero/hero_img@tablet1x.png");
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bg-image {
      background-image: url("assets/images/hero/hero_img@tablet2x.png");
    }
  }
}

@media (min-width: 1440px) {
  .bg-image {
    background-size: 749px 508px;
    background-image: url("assets/images/hero/hero_img@desktop1x.png");
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bg-image {
      background-image: url("assets/images/hero/hero_img@desktop2x.png");
    }
  }
}
.auth-bg {
  background-size: 95px 93px;
  background-position: top 28px right 32px;
  background-repeat: no-repeat;
  background-image: url("assets/images/auth/piil_mobile@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .auth-bg {
    background-image: url("assets/images/auth/piil_mobile@2x.png");
  }
}

@media (min-width: 768px) {
  .auth-bg {
    background-size: 179px 175px;
    background-position: top 35px right 85px;
    background-image: url("assets/images/auth/piil_tablet@1x.png");
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .auth-bg {
      background-image: url("assets/images/auth/piil_tablet@2x.png");
    }
  }
}
@media (min-width: 1440px) {
  .auth-bg {
    background-position: top 90px right 50px;
  }
}
.main-title {
  text-shadow: 0 4px 85px rgba(29, 30, 33, 0.3);
}

.section {
  @apply mb-[80px] md:mb-[120px];
}

.item {
  @apply relative after:content-[''] after:absolute after:top-0 after:right-[-10px] after:h-full after:w-[1px] after:bg-before-color md:after:right-[-24px];
}

/**
  |============================
  | feactures slider
  |============================
*/
.slider-item-custom {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  white-space: nowrap;
}

/**
  |============================
  | 
  |============================
*/
.navlink,
.navlinkgreen {
  @apply relative overflow-hidden z-0;
}

.navlink::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transition: left 0.6s ease;
}

.navlink:hover::before,
.navlink:focus::before,
.navlinkgreen:hover::before,
.navlinkgreen:focus::before {
  @apply left-0;
}

.navlink:hover,
.navlink:focus {
  @apply text-my-green;
}

.navlinkgreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #59b17a;
  z-index: -1;
  transition: left 0.6s ease;
}

.navlinkgreen:hover,
.navlinkgreen:focus {
  color: #fff;
}

.decoration {
  @apply relative after:content-[''] after:absolute after:bottom-[-12px] after:right-[33px] after:h-[8px] after:w-[15px] after:bg-my-white lg:after:bottom-[12px] lg:after:right-[-17px] shadow shadow-[#D9D9D9];
}
.decoration_one {
  @apply relative after:content-[''] after:absolute after:bottom-[-12px] after:right-[52px] after:h-[8px] after:w-[15px] after:bg-my-white lg:after:bottom-[12px] lg:after:right-[-17px] shadow shadow-[#D9D9D9];
}
/**
  |============================
  | Auth 
  |============================
*/
.input_auth {
  @apply w-full rounded-[60px] h-[44px] bg-white pl-[18px] text-[14px] border-[1px]  outline-none;
}

.btn_form_submit {
  @apply w-full rounded-[60px] h-[44px] flex justify-center items-center text-white text-[14px] leading-[1.29] bg-my-green hover:bg-green-dark focus:bg-green-dark;
}

.input_error {
  @apply text-[10px] text-my-red absolute top-[42px] left-[18px];
}

/**
  |============================
  | pagination
  |============================
*/
.btn_pagination {
  @apply flex w-[35px] h-[35px] rounded-[50%] border-[1px] items-center justify-center md:w-[44px] md:h-[44px];
  &:hover:not(:disabled) {
    @apply text-my-white bg-my-green border-my-green;
  }
}
.btn_pagination_number {
  @apply flex w-[35px] h-[35px] rounded-[50%] border-[1px] items-center justify-center  md:w-[44px] md:h-[44px];

  &:hover:not(:disabled) {
    @apply text-my-white bg-my-green border-my-green;
  }
  &:disabled {
    @apply opacity-50;
  }
  &.active {
    @apply text-my-white bg-my-green border-my-green;
  }
}
.btn_pagination_double {
  @apply flex w-[35px] h-[35px] rounded-[50%] border-[1px] items-center justify-center relative md:w-[44px] md:h-[44px];

  &:hover:not(:disabled) {
    @apply text-my-white bg-my-green border-my-green;
  }
}
.icon_pagination {
  @apply fill-my-black;
}

.btn_pagination:hover .icon_pagination,
.btn_pagination_double:hover .icon_pagination {
  @apply fill-my-white;
}
.btn_pagination:disabled .icon_pagination,
.btn_pagination_double:disabled .icon_pagination {
  @apply opacity-50 fill-my-black;
}

.active_item {
  @apply text-my-green;
}
.dropdown_list_item {
  @apply cursor-pointer;
}

/**
  |============================
  | go up button styles
  |============================
*/
.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px !important;
  border-radius: 50% !important;
}
@media screen and (min-width: 768px) {
  .scroll-to-top {
    right: 32px !important;
  }
}
@media screen and (min-width: 1440px) {
  .scroll-to-top {
    width: 60px !important;
    height: 60px !important;
    right: 128px !important;
  }
}
.scroll-to-top:hover,
.scroll-to-top:focus {
  opacity: 0.6;
}
