@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter bg-color-bg;
}
button,
a {
  @apply cursor-pointer transition-colors;
}

/**
  |============================
  | bg-img styles
  |============================
*/
.bg-image {
  background-size: 331px 312px;
  background-image: url("assets/images/hero/hero_img@mobile1x.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bg-image {
    background-image: url("assets/images/hero/hero_img@mobile2x.png");
  }
}

@media (min-width: 768px) {
  .bg-image {
    background-size: 704px 508px;
    background-image: url("assets/images/hero/hero_img@tablet1x.png");
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bg-image {
      background-image: url("assets/images/hero/hero_img@tablet2x.png");
    }
  }
}

@media (min-width: 1440px) {
  .bg-image {
    background-size: 749px 508px;
    background-image: url("assets/images/hero/hero_img@desktop1x.png");
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bg-image {
      background-image: url("assets/images/hero/hero_img@desktop2x.png");
    }
  }
}

.main-title {
  text-shadow: 0 4px 85px rgba(29, 30, 33, 0.3);
}

.section {
  @apply mb-[80px] md:mb-[120px];
}

.item {
  @apply relative after:content-[''] after:absolute after:top-0 after:right-[-10px] after:h-full after:w-[1px] after:bg-before-color md:after:right-[-24px];
}

/**
  |============================
  | feactures slider
  |============================
*/
.slider-item-custom {
  /* height: 73px !important;
  width: 100% !important; */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  white-space: nowrap;
}

/**
  |============================
  | 
  |============================
*/
.navlink {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.navlink::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transition: left 0.6s ease;
}

.navlink:hover::before,
.navlink:focus::before {
  left: 0;
}

.navlink:hover,
.navlink:focus {
  color: #59b17a;
}
